<header class="header-home">
    <div class="logo-header">
        <a href="">
            <h1 class="logo-header-b">B</h1>
            <h1 class="logo-header-t">Tech</h1>
        </a>
    </div>
    <nav>
        <ul class="ul-header">
            <a href="#">
                <li class="li-header">Início</li>
            </a>
            <a href="#">
                <li class="li-header">Preços</li>
            </a>
            <a href="#">
                <li class="li-header">Sobre</li>
            </a>
            <a href="#">
                <li class="li-header">Contato</li>
            </a>
        </ul>
    </nav>
    <div class="log">
        <a href="/login">
            <p>entrar</p>
        </a>
        <a href="/registrar"><button class="header-button">Cadastre-se</button></a>
    </div>
</header>