<div id="dashboard-incomes-expenses">
    <section class="dashboard-card">
        <h1>Gráfico das Despesas</h1>
        <div>
            <label for="Tempo">Mês</label>
            <select name="Tempo" id="option-expense">
                <option value="1m">Mês Atual</option>
                <option value="2m">Mês Anterior</option>
            </select>
        </div>
    </section>
    <section class="dashboard-card">
        <h1>Gráfico das Receitas</h1>
        <div>
            <label for="Tempo">Mês</label>
            <select name="Tempo" id="option-income">
                <option value="1m">Mês Atual</option>
                <option value="2m">Mês Anterior</option>
            </select>
        </div>
    </section>
</div>

<div>
    <section class="dashboard-transaction">
        <h1>Transações</h1>
        <div>
            <label for="Tempo">Mês</label>
            <select name="Tempo" id="option-income">
                <option value="1m">Mês Atual</option>
                <option value="2m">Mês Anterior</option>
            </select>
        </div>
    </section>

</div>