<header-home />
<main>
    <section class="main-section">
        <span class="main-title">
            <h1>Assuma o controle do seu dinheiro</h1>
            <h1 style="color: #7C3AED;">antes que ele controle você.</h1>
        </span>
        <div class="text-normal">
            <p class="text">Economize dinheiro todo mês com uma visão clara do seu orçamento.</p>
            <p class="text">Saiba exatamente quanto pode gastar sem comprometer o seu futuro.</p>
        </div>
        <button class="button-home">Crie Sua Conta</button>
    </section>
</main>