.logo-header {
    background-color: #F8F7FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;

    h1 {
        color: #1A1A2E;
    }

    a {
        display: flex;
        gap: 15px;
        align-items: center;
        margin-left: 4vh;
        width: 6vh;
        height: 6vh;
        text-decoration: none;
    }

    button {
        margin-right: 4vh;
        color: white;
        width: 11vh;
        height: 5vh;
        background-color: #7C3AED;
        border: 1px #5b1fc4 solid;
        border-radius: 2vh;
    }
}